<div style="margin-left:300px;margin-right:300px; padding-bottom:100px; padding-top : 100px">
    <hr>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td>상호명</td>
            <td><%= shopName %></td>
            <td>사업자등록번호</td>
            <td><%= businessNo %></td>
        </tr>
        <tr>
            <td>대표자</td>
            <td><%= shopCEO %></td>
            <td >사업장 소재지</td>
            <td><%= shopAddress %></td>
        </tr>
        <tr>
            <td>상담/문의</td>
            <td><%= shopPhone %></td>
            <td>이메일</td>
            <td><%= shopEmail %></td>
        </tr>
    </table>
</div>