<link rel="stylesheet" type="text/css" href = "/css/footer.css">
<div id="footerDiv">
    <hr>
    <table cellpadding = "10px" id="footerTable">
        <tr>
            <td>상호명</td>
            <td><%=storeInfo.shopName%></td>
            <td>사업자등록번호</td>
            <td><%=storeInfo.businessNo%></td>
        </tr>
        <tr>
            <td>대표자</td>
            <td><%=storeInfo.shopCEO%></td>
            <td>사업장 소재지</td>
            <td><%=storeInfo.shopAddress%></td>
        </tr>
        <tr>
            <td>상담/문의</td>
            <td><%=storeInfo.shopPhone%></td>
            <td>이메일</td>
            <td><%=storeInfo.shopEmail%></td>
        </tr>
    </table>
</div>